body {
    background-image: url("../images/background.jpg");
}

.content_frame {
    position: relative;
}

.all-players-square {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    border: solid green 2px;
}

.player-square {
    float: left;
    display: none;
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    border: solid green 2px;
}

.player-square2 {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    border: solid green 2px;
}